<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mll.data.testing.acct.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.mll.data.testing.acct.entity.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="via_time" jdbcType="TIMESTAMP" property="viaTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>