<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mll.data.testing.quill.mapper.QuillPlayMapper">
  <resultMap id="BaseResultMap" type="com.mll.data.testing.quill.entity.QuillPlay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="teleplay" jdbcType="VARCHAR" property="teleplay" />
  </resultMap>
</mapper>