<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mll.data.testing.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mll.data.testing.user.entity.User">
        <!-- WARNING - @mbg.generated -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="medal" jdbcType="VARCHAR" property="medal" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="authentication" jdbcType="INTEGER" property="authentication" />
        <result column="privacy" jdbcType="INTEGER" property="privacy" />
        <result column="referee_phone" jdbcType="VARCHAR" property="refereePhone" />
    </resultMap>

    <select id="findUserVO" parameterType="java.lang.String" resultType="com.mll.data.testing.user.vo.UserVO">
        SELECT u.id,u.login_name,u.phone,u.authentication,u.medal,i.direct_superior
        FROM t_user u
        INNER JOIN t_user_info i
        ON u.id = i.user_id
        WHERE u.id = #{id};
    </select>

    <update id="updateUserPwd" parameterType="java.util.Map">
        UPDATE t_user
        <set>
            <if test="pwd != null">
                pwd = #{pwd},
            </if>
        </set>
        WHERE login_name = #{loginName}
    </update>

    <update id="updateUser" parameterType="java.util.Map">
        UPDATE t_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="medal != null">
                medal = #{medal},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="authentication != null">
                authentication = #{authentication},
            </if>
            <if test="privacy != null">
                privacy = #{privacy},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>